/* Input Componenet */

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    margin: 3.7rem 0;
    position: relative;
}

.input input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
    letter-spacing: 0.05rem;
    color: rgb(61, 65, 68);
    border-bottom: 0.1rem solid lightgray;
}

.input label {
    align-self: flex-start;
    position: absolute;
    top: 0.5rem;
    left: 2.2rem;
    color: lightslategray;
    font-size: 1.2rem;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

/* FontAwesome */

.input i {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    font-size: 1.2rem;
    color: rgb(60, 63, 65);
    transition: 0.3s ease-in-out;
}

/* Radio Input */

.genderDiv {
    display: flex;
    align-items: center;
    position: relative;
}

/* .radio {
  margin: 0 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio input[name="gender"] {
  accent-color: #106f74;
  margin-right: 0.5rem;
  cursor: pointer;
} */

/* Check Input */

.check {
    margin: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.check input[name="agree"] {
    accent-color: #14787e;
    margin-right: 1rem;
    cursor: pointer;
}

/* Button div */

.buttonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Error */

.error {
    color: rgba(201, 10, 10, 0.768);
    font-size: 1rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    position: absolute;
    right: 0;
    bottom: -2.7rem;
}

.errorCommon {
    color: rgba(201, 10, 10, 0.768);
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    position: absolute;
    right: 0;
}

/* password show */

.input div {
    position: absolute;
    cursor: pointer;
    right: 2rem;
    bottom: 0.2rem;
    text-transform: capitalize;
}

.input div i {
    font-size: 1.2rem;
}

/* Letter */
.letter {
    margin: 0.5rem 0;
}

.letter span {
    font-size: 1.2rem;
}

.letter span .Link {
    color: #7de1e6;
    margin-left: 0.6rem;
}

@media (min-width: 769px) {
    .input input:focus ~ i,
    .input input[value]:not([value=""]) ~ i {
        left: -1.5rem;
        font-size: 1.1rem;
        /* color: #7de1e6; */
    }
    .input span {
        position: absolute;
        background-color: #7de1e6;
        width: 0 !important;
        height: 0.2rem;
        bottom: 0;
        left: 0;
        transition: 0.5s ease-in-out;
    }

    .input input:focus ~ label,
    .input input[value]:not([value=""]) ~ label {
        top: -1.2rem;
        font-size: 1rem;
        color: #7de1e6;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }

    .input input:focus ~ span,
    .input input[value]:not([value=""]) ~ span {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .input input {
        border: 0.1rem solid lightgray;
        padding: 0.8rem 1rem;
        border-radius: 0.3rem;
    }
    .input label {
        top: -1.8rem;
        left: 0.5rem;
    }
    .iconHide {
        display: none;
    }
    .check {
        margin: 0.2rem 0 1rem 0;
    }
    .input i {
        bottom: 0.8rem;
    }
}

@media (max-width: 576px) {
    .input input {
        padding: 0.5rem 0.8rem;
    }
}
