@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

.hideHoriz {
    overflow: hidden;
}

html {
    font-size: 62.5%;
    font-family: "Fredoka", sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    /* height: 100vh; */
}

.downPage {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.672);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

.loading .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
}

.loading .circle {
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    html {
        font-size: 57%;
    }
    .loading {
        background-color: rgba(255, 251, 251, 0.829);
    }
    .loading .text {
        color: rgb(82, 78, 78);
        font-size: 1.2rem;
    }

    .loading .circle {
        border: 1rem solid rgb(82, 78, 78);
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        width: 7rem;
        height: 7rem;
    }
}
